html,
body,
p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  header {
    display: none;
    flex-wrap: wrap;
  }
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 20px;
    .logo-text {
      text-align: center;
      vertical-align: center;
      font-size: 30px;
      font-weight: bold;
      color: black;
    }
  }

  .search-bar {
    display: grid;
    width: 450px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 200px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;

    .search-container {
      display: grid;
      position: relative;
      grid-template-columns: 1fr minmax(30px, max-content);
      grid-template-rows: 30px min-content;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      input[type="text"] {
        border-style: none;
      }
      button {
        border-style: none;
        font-size: 15px;
        border-right: 1px solid gray;
        padding: 5px;
        background-color: transparent;
        &:hover {
          font-weight: bold;
          cursor: pointer;
        }
      }
      .recent-list {
        position: relative;
        visibility: hidden;
        overflow: hidden;
        top: 6px;
        grid-column: 1 / 3;
        border: 0.5px solid #c0c0c0;
        background-color: #fff;
        padding: 10px;
        z-index: 1;
        &.visible {
          visibility: visible;
        }

        p.title {
          font-weight: bold;
          font-size: 15px;
        }

        ul {
          margin: 0px;
          padding: 0px;
          border-bottom: 1px solid #c0c0c0;
          li.recent-item {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 3px;
            align-items: center;
            font-size: 12px;
            color: gray;
            .delete-btn {
              font-size: 15px;
              cursor: pointer;
            }
          }
        }

        .keyword-remove-btn {
          float: right;
          cursor: pointer;
          margin-top: 5px;
          font-size: 12px;
          align-self: flex-end;
          color: gray;
        }
        .keyword-remove-btn::after {
          clear: right;
        }
      }
    }

    .rank-viewer {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0px;
      padding: 4px;
      display: flex;
      align-items: center;

      .rank-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin: 0px;
        p {
          font-size: 12px;
          vertical-align: middle;
        }
        .rank-tag {
          font-weight: bolder;
          font-size: 10px;
        }
      }

      &:hover .rank-detail-viewer {
        visibility: visible;
      }

      .rank-detail-viewer {
        background-color: white;
        z-index: 1;
        visibility: hidden;
        position: absolute;
        width: 200px;
        right: -1px;
        top: -1px;
        border: 1px solid #c0c0c0;
        padding: 10px;
        .title {
          font-size: 14px;
          font-weight: bold;
        }
        .datetime {
          font-size: 12px;
          font-weight: normal;
          color: #c0c0c0;
        }
        .rank-toggle-container {
          display: flex;
          .rank-toggle {
            text-align: center;
            flex-grow: 1;
            padding-top: 5px;
            padding-bottom: 5px;
            border-collapse: collapse;
            border: 1px solid #c0c0c0;
            background-color: #c0c0c0;
            opacity: 0.5;
            font-size: 12px;
            &.select {
              background-color: white;
            }
          }
        }
        .rank-item-list {
          margin: 0px;
          padding: 0px;
          .rank-item {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 4fr 1fr;
            margin-top: 5px;
            cursor: pointer;
            .order {
              text-align: center;
              font-size: 12px;
              color: gray;
              width: 20px;
              grid-column: 1 / 2;
            }
            .name {
              font-size: 12px;
            }
            .rank-tag {
              &.up-tag {
                color: red;
              }
              &.down-tag {
                color: blue;
              }
            }
          }
        }
      }
    }
  }

  .util-menu-list {
    display: flex;
    .menu-item {
      position: relative;
      text-align: center;
      padding: 3px;

      p {
        font-size: 10px;
        margin: 0px;
        margin-top: 2px;
      }
    }

    .cart {
      &:hover {
        .quick-cart-viewer {
          visibility: visible;
        }
        background-color: #c0c0c0;
      }

      .quick-cart-viewer {
        visibility: hidden;
        position: absolute;
        left: -5px;
        top: 100%;
        min-width: 150px;
        border: 1px solid black;
        z-index: 99;
        padding: 10px;
        font-size: 15px;
      }
    }
  }

  .user-menu-list {
    margin-left: 30px;
    align-self: flex-start;
    a {
      font-size: 12px;
      font-weight: bolder;
      &:not(:last-child) {
        &::after {
          content: "|";
          font-weight: lighter;
          color: gray;
          padding-left: 5px;
        }
      }
    }
  }
}

nav {
  position: relative;
  bottom: -1px;
  margin-top: 30px;
  ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      border: 1px solid black;
      border-collapse: separate;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      padding: 8px 5px;
      min-width: 100px;
      text-align: center;
      &:hover,
      &.select {
        border-bottom: 1px solid white;
      }
      a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        &:visited {
          color: inherit;
        }
      }
    }
  }
}

// STARTBUCKS MAIN VIEW
section {
  border-top: 1px solid black;
}

.startbucks-container {
  margin-top: 20px;

  .startbucks-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 75px;
        height: 75px;
      }
      h1 {
        font-weight: bold;
        color: #0a472c;
        font-size: 25px;
      }
    }

    .search-container {
      border: 1px solid #c0c0c0;
      padding: 5px;
      min-width: 150px;
      border-radius: 20px;
      input[type="text"] {
        border-style: none;
      }
      button {
        border-style: none;
        background-color: white;
      }
    }
  }
}

.starbucks-navigation {
  height: 50px;
  width: 100%;
  background-color: #182c25;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    height: 100%;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: white;
      font-weight: bold;
      flex-basis: 150px;
    }
  }
}

.starbucks-main-banner {
  position: relative;
  overflow: scroll;

  .slide-bg {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-color: #0b5132;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: calc(100% * 4);
    animation: slide 8s infinite;
    li.slide {
      position: relative;
      display: flex;
      justify-content: center;
      width: calc(100% / 4);
      .banner-comment {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        color: white;
        width: 500px;
        height: 250px;
      }
    }
  }

  .banner-paginator {
    color: white;
    font-weight: bold;
    position: absolute;
    right: 25%;
    bottom: 25%;
  }
}

.starbucks-sub-1-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: center;
  align-items: center;
  .sub-banner-bg {
    position: absolute;
    top: -100px;
    z-index: -1;
  }
  .sub-banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .tags {
      color: #c0c0c0;
    }
  }
  .sub-banner-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .item {
      margin-right: 50px;
      img {
        width: 290px;
        height: 290px;
      }
      .item-description {
        display: flex;
        flex-direction: column;
        .provider-name {
          font-weight: bold;
          margin-top: 2px;
        }
        .production-name {
          margin-top: 2px;
        }
        .cost {
          font-size: 20px;
          margin-top: 2px;
          .unit {
            font-size: 12px;
          }
        }
      }
    }
  }
}
